
//-spメディアクエリ
@mixin sp {
  @media only screen and (max-width: ($sp)) {
    @content;
  }
}

//-pcメディアクエリ
@mixin pc {
  @media only screen and (min-width: ($pc)) {
    @content;
  }
}

//---------------------------------------
//-    変数
//---------------------------------------

//-media
$sp: 768px;
$pc: 769px;


//-color
$rgb__txt:#4e4e4e;
$rgb__main:#61584b;
$rgb__sub:#c3bfb9;
$rgb__accent:rgb(255, 145, 0);


$font__web:'Noto Sans JP', sans-serif;
$font__web--en:'Cousine', monospace;
$font__mincho:"游明朝", "YuMincho", "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
$font__gothic:"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Yu Gothic Medium","游ゴシック Medium","游ゴシック", "YuGothic",'Noto Sans JP', "メイリオ", Meiryo, sans-serif;


$font__web--bold:500;


//-width
$baseWidth:1000px;
$width--min:900px;
$width--max:1200px;


//-boxshadow
$shadow__01:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow__02:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow__03:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow__04:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow__05:0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);


//---------------------------------------
//-    mixin
//---------------------------------------


//-font size
@mixin font--size($font-size:sm){
  @if $font-size == lg{font-size: calc(28.5px + (3.2vw / 3.5));}//-30px
  @else if $font-size == md{font-size: calc(17px + (2.4vw / 3.5));}//-24px
  @else if $font-size == sm{font-size: calc(12px + (1.8vw / 3.0));}//-18px
  @include sp {
    @if $font-size == lg{font-size: calc(24px + (3.2vw / 3.5));}//-21px
    @else if $font-size == md{font-size: calc(15.5px + (2.4vw / 3.5));}//-18px
    @else if $font-size == sm{font-size: 16px;}//-16px
  };
}


//-margin
@mixin margin--bottom($space:lv){
  @if $space == lg{margin-bottom: 8rem;} //-128px
  @else if $space == md{margin-bottom: 4.0rem;}
  @else if $space == sm{margin-bottom: 2.0rem;}//-56px
  @else if $space == xs{margin-bottom: 1.5rem;}//-37px
  @else if $space == xxs{margin-bottom: 0.75rem;}//-37px
  @include sp {
    @if $space == lg{margin-bottom: 5rem;} //-64px
    @else if $space == md{margin-bottom: 2.6rem;}//-42px
    @else if $space == sm{margin-bottom: 1.5rem;}//-28px
    @else if $space == xs{margin-bottom: 1.156rem;}//-18.5px
    @else if $space == xxs{margin-bottom: 0.75rem;}//-18.5px
  };
}

@mixin margin--top($space:lv){
  @if $space == lg{margin-top: 8rem;} //-128px
  @else if $space == md{margin-top: 4.0rem;}//-85px
  @else if $space == sm{margin-top: 2.0rem;}//-56px
  @else if $space == xs{margin-top: 1.5rem;}//-37px
  @else if $space == xxs{margin-top: 0.75rem;}//-37px

  @include sp {
    @if $space == lg{margin-top: 5rem;} //-64px
    @else if $space == md{margin-top: 2.6rem;}//-42px
    @else if $space == sm{margin-top: 1.75rem;}//-28px
    @else if $space == xs{margin-top: 1.156rem;}//-18.5px
    @else if $space == xxs{margin-top: 0.75rem;}//-18.5px
  };
}

@mixin padding--top($space:lv){
  @if $space == lg{padding-top: 8rem;} //-128px
  @else if $space == md{padding-top: 4.0rem;}//-85px
  @else if $space == sm{padding-top: 2rem;}//-56px
  @else if $space == xs{padding-top: 1.5rem;}//-37px
  @else if $space == xxs{padding-top: 0.75rem;}//-37px
  @include sp {
    @if $space == lg{padding-top: 5rem;} //-64px
    @else if $space == md{padding-top: 2.6rem;}//-42px
    @else if $space == sm{padding-top: 1.75rem;}//-28px
    @else if $space == xs{padding-top: 1.156rem;}//-18.5px
    @else if $space == xxs{padding-top: 0.75rem;}//-18.5px
  };
}




//-width
// @mixin width($width:100% , $min-width:$width--min ,$max-width:$width--max ){
//   width: $width;
//   min-width: $min-width;
//   max-width: $max-width;
//   margin: auto;
// }

@mixin width{
  width: 70%;
  max-width: 42rem;
  margin: auto;
}

@mixin width--sp($width:100% , $min-width:1px ,$max-width:100% ){
  width: $width;
  min-width: $min-width;
  max-width: $max-width;
  margin: auto;
}

//-flex box
@mixin flx($just-con:start , $ali-i:str){
  display: flex;
  @if $just-con == cen{justify-content: center;}
  @else if $just-con == start{justify-content: flex-start;}
  @else if $just-con == end{justify-content: flex-end;}
  @else if $just-con ==bet{justify-content: space-between;}
  @else if $just-con ==around{justify-content: space-around;}
  @if $ali-i == cen{align-items: center;}
  @else if $ali-i == top{align-items: flex-start;}
  @else if $ali-i == btm{align-items: flex-end;}
  @else if $ali-i == str{align-items: stretch;}
}

//-親要素の幅を超える
@mixin vw100($min: $width--max){
  width: 100vw;
  min-width: $min;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

//-font awesome
@mixin icon($content: "\f105" , $font-weight:900 , $font-family: "Font Awesome 5 Free"){
  font-family: $font-family;
  content: $content;
  font-weight: $font-weight;
}

//-icomoon
@mixin icomoon($content: "\e900" , $font-family: "icomoon"){
  font-family: $font-family;
  content: $content;
}


@mixin hl{
  font-family: $font__gothic;
  font-feature-settings:"palt";
  line-height: 1.25;
  font-weight: bold;
}

//-text 均等割り
@mixin txt--just{
  text-align: justify;
  text-justify: inter-ideograph;
}

//-boxshadow
@mixin shadow(){
  box-shadow: $depth;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

//- link Border after
@mixin linkBorder {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background:$rgb__accent;
    transform: scale(0, 1);
    transform-origin: left top;
    transition:.3s;
}
